html
  head
    title Login
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")    
  body
    .mdl-grid
      form(action="/admin/login", method="POST")
        .mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet
          input#username.mdl-textfield__input(type="text", name="username")
          label.mdl-textfield__label(for="username") ID
        .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-tablet
        .mdl-textfield.mdl-js-textfield.mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet
          input#username.mdl-textfield__input(type="password", name="password")
          label.mdl-textfield__label(for="password") Password
        button.mdl-button.mdl-js-button.mdl-button--raised(type="submit") 로그인

  script(defer, src="https://code.getmdl.io/1.3.0/material.min.js")
